{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NeedDataCommunity">
    <meta name="keywords" content="NeedDataCommunity">
    <meta name="author" content="NeedDataCommunity">
    <link rel="icon" href="{% static 'assets/ndc.jpg' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'assets/ndc.jpg' %}" type="image/x-icon" />
    <title>NeedDataCommunity</title>

    <!--Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;900&amp;display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">

    <!-- remixicon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/remixicon.css' %}">

    <!-- iconsax css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/iconsax.css' %}" />

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/aos.css' %}">

    <!-- swiper slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/swiper-bundle.min.css' %}" />

    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">



</head>

<body>

    {% block content %}
    {% endblock content %}
    
    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <!-- slider js-->
    <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/custom-slider.js' %}"></script>

    <!-- custom cursor -->
    <script src="{% static 'assets/js/custom-cursor.js' %}"></script>

    <!-- aos animation -->
    <script src="{% static 'assets/js/aos.js' %}"></script>
    <script src="{% static 'assets/js/custom-aos.js' %}"></script>

    <!-- iconsax js -->
    <script src="{% static 'assets/js/iconsax.js' %}"></script>

    <!-- laptop animation js -->
    <script src="{% static 'assets/js/home-animation.js' %}"></script>

    <!-- header sticky js -->
    <script src="{% static 'assets/js/header_sticky.js' %}"></script>

    <!-- pricing js -->
    <script src="{% static 'assets/js/pricing-table.js' %}"></script>

    <!-- Theme js-->
    <script src="{% static 'assets/js/script.js' %}"></script>

</body>


</html>